<mat-card>
  <form #customerForm="ngForm" (ngSubmit)="save(customerForm.value)">
    <mat-card-header>
      <mat-card-title>
        <h2 *ngIf="customer.name; else newBlock">Edit customer</h2>
        <ng-template #newBlock>Add customer</ng-template>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="customer.href">
      <mat-form-field style="padding-right: 10px">
        <input matInput placeholder="Customer name" [(ngModel)]="customer.name" 
          required name="name" #name>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Customer code" [(ngModel)]="customer.code" 
          required name="code" #code>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!customerForm.form.valid">Save</button>
      <!--<button mat-raised-button color="secondary" (click)="remove(customer.id)" *ngIf="customer.href" type="button">Delete</button>-->
      <a mat-button routerLink="/list">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>
